<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TEAM04</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/dk-cool-crayon" rel="stylesheet">
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand lettercolor" href="#">TEAM4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link lettercolor" href="">HOME<span class="sr-only">(current)</span></a>
            </li>
          </ul>
      </div>
    </nav>


    <hr class="line">


    <section class="page1">

      <h1 class="title">How Many People<br>like this video?</h1>

      <form action="/" method="get">
        <div style="margin-top:30px; width:50%;" class="input-group mx-auto">
            <input type="text" id="urls" name="urls" value="" class="form-control" placeholder="URL"
                    aria-label="분석하고 싶은 영상 URL" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                    style="background-color:#CD3F3E; color:#F4F6F6;">Start</button>
            </div>
        </div>

        <script>
          function inputUrl(){
            var txt = document.getElementById("urls").value;
            // <!--txt 넘기기-->
            // <!--window.location.href=txt;-->
          }
        </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <div class="float-left" style="width:40%; height:40%; margin-top:50px; margin-left:100px; margin-bottom:10%;">
      <canvas id="pie-chart" width="50" height="50"></canvas>
    </div>

    <script>
      {% if preference %}
          new Chart(document.getElementById("pie-chart"), {
          type: 'pie',
          data: {
            labels: ["Positive", "Neutral", "Negative"],
            datasets: [{
              label: "nums",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
              data: [{{preference[0]}},{{preference[1]}},{{preference[2]}}]
            }]
          },
          options: {
            title: {
              display:true,
              text:'Preference'
            },
          }
        });
      {% else %}
        new Chart(document.getElementById("pie-chart"), {
          type: 'pie',
          data: {
            labels: ["Positive", "Neutral", "Negative"],
            datasets: [{
              label: "nums",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
              data: [30,30,30]
            }]
          },
          options: {
            title: {
              display:true,
              text:'Preference',
            },
          }
        });
      {% endif %}
    </script>

    <h1 style="text-align:center; padding-top:80px;">preference</h2>
    {% if preference %}
      {% if preference[0]+preference[1]+preference[2]==0 %}
        <h1 style="text-align:center;">0%</h1>
      {% else %}
        <h1 style="text-align:center;">{{preference[0]/(preference[0]+preference[1]+preference[2])*100}}%</h1>
      {% endif %}
    {% else %}
      <h1 style="text-align:center;">0%</h1>
    {% endif %}
    <div class="card float-right" style="width: 35%; margin-top:8px; margin-bottom:30px; margin-right:100px;">
          <div class="card-header" style="background-color:#CD3F3E; color:#F4F6F6; text-align:center; padding-bottom:0px;">
              <span><h2>KEYWORD</h2></span>
          </div>
          <ul class="list-group list-group-flush">
            {% if keyword %}
              <li class="list-group-item lettercolor">{{ keyword.0 }}</li>
              <li class="list-group-item lettercolor">{{ keyword.1 }}</li>
              <li class="list-group-item lettercolor">{{ keyword.2 }}</li>
              <li class="list-group-item lettercolor">{{ keyword.3 }}</li>
              <li class="list-group-item lettercolor">{{ keyword.4 }}</li>
              {% else %}
              <li class="list-group-item lettercolor" style="text-align:center; padding-bottom:0px;"><h3>none</h3></li>
              <li class="list-group-item lettercolor" style="text-align:center; padding-bottom:0px;"><h3>none</h3></li>
              <li class="list-group-item lettercolor" style="text-align:center; padding-bottom:0px;"><h3>none</h3></li>
              <li class="list-group-item lettercolor" style="text-align:center; padding-bottom:0px;"><h3>none</h3></li>
              <li class="list-group-item lettercolor" style="text-align:center; padding-bottom:0px;"><h3>none</h3></li>
          {% endif %}
        </ul>
  </div>

  <div class="mx-auto" style="width:45%;margin-bottom:50px;">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>

  <script>
  const ctx = document.getElementById('myChart').getContext('2d');
  {% if element %}
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
              {% for date in dates %}
                  "{{ date }}",
              {% endfor %}
            ],
            datasets: [{
                label: 'Positive',
                data: [
                  {% for x in likes %}
                      {{ x }},
                  {% endfor %}
                ],
                backgroundColor: [
                  {% for x in likes %}
                      'rgba(235, 83, 83, 0.2)',
                  {% endfor %}
                ],
                borderColor: [
                    {% for x in likes %}
                        'rgba(235, 83, 83, 1)',
                    {% endfor %}
                ],
                borderWidth: 1
            },{
                label: 'Negative',
                data: [
                  {% for y in dislikes %}
                      {{ y }},
                  {% endfor %}
                ],
                backgroundColor: [
                  {% for y in dislikes %}
                      'rgba(24, 116, 152, 0.2)',
                  {% endfor %}
                ],
                borderColor: [
                    {% for y in dislikes %}
                        'rgba(24, 116, 152, 1)',
                    {% endfor %}
                ],
                borderWidth: 1
            },{
                label: 'Neutral',
                data: [
                  {% for z in neu %}
                      {{ z }},
                  {% endfor %}
                ],
                backgroundColor: [
                    {% for z in neu %}
                        'rgba(54, 174, 124, 0.2)',
                    {% endfor %}
                ],
                borderColor: [
                    {% for z in neu %}
                        'rgba(54, 174, 124,1)',
                    {% endfor %}
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
              xAxes: [{ stacked: true }],
              yAxes: [{ stacked: true }]
            }
        }
    });
  {% else %}
  const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
              "none"
            ],
            datasets: [{
                label: 'Positive',
                data: [12],
                backgroundColor: [
                    'rgba(235, 83, 83, 0.2)'
                ],
                borderColor: [
                    'rgba(235, 83, 83, 1)'
                ],
                borderWidth: 1
            },{
                label: 'Negative',
                data: [12],
                backgroundColor: [
                    'rgba(24, 116, 152, 0.2)'
                ],
                borderColor: [
                    'rgba(24, 116, 152, 1)'
                ],
                borderWidth: 1
            },{
                label: 'Neutral',
                data: [12],
                backgroundColor: [
                    'rgba(54, 174, 124, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 174, 124)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
              display:true,
              text:'Total Data of this Video'
            },
            scales: {
              xAxes: [{ stacked: true }],
              yAxes: [{ stacked: true }]
            }
        }
    });
  {% endif %}
  </script>

  </body>

</html>
