<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TEAM04</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand lettercolor" href="#">TEAM4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link lettercolor" href="">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link lettercolor" href="about.html">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lettercolor" href="contact.html">CONTACT</a>
            </li>
          </ul>
      </div>
    </nav>


    <hr class="line">


    <section class="page1">

      <h1 class="title">여론조사1</h1>
{#      <form action="/" method="get">#}
{#        <div style="margin-top:30px; width:50%;" class="input-group mx-auto">#}
{#            <input type="text" id="urls" name="urls" class="form-control" placeholder="분석하고 싶은 영상 URL"#}
{#                    aria-label="분석하고 싶은 영상 URL" aria-describedby="button-addon2">#}
{#            <button type="submit">분석</button>#}
{#        </div>#}
      <form action="/" method="get">
        <div style="margin-top:30px; width:50%;" class="input-group mx-auto">
            <input type="text" id="urls" name="urls" value="tmp tmp tmp" class="form-control" placeholder="분석하고 싶은 영상 URL"
                    aria-label="분석하고 싶은 영상 URL" aria-describedby="button-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                style="background-color:#CD3F3E; color:#F4F6F6;"data-toggle="modal" data-target="#exampleModal">분석</button>
            </div>
        </div>

        <script>
          function inputUrl(){
            var txt = document.getElementById("urls").value;
            <!--txt 넘기기-->
            <!--window.location.href=txt;-->
          }
        </script>




        <!-- Modal -->
        <div class="modal fade" id="exampleModal"
                 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl"  role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">분석 결과</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>

                  </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary" style="background-color: #CD3F3E">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="page2">
        <p>
            {% if data %}
                {{ data }}
            {% endif %}
        </p>
    </section>
<!--
    <div class="top1">
              OSP TERM PROJECT
              <div class="top2"><a href="home.html">TEAM 04</a></div>
              <div class="top3">
                  <div class="topItem"><a href="">member</a></div>
                  <div calss="topItem"><a href="">contact</a></div>
              </div>
          </div>
          <h1 class="title1">어떤 언어로 댓글이 달렸을까?</h1>
          <h5>각 카테고리를 클릭하세요٩(*'へ'*)و</h5>


          <input id="menu1" type="checkbox" />
          <label for="menu1" class="t1"><h2>주제 선정 이유 ↓</h2></label>
              <ul class="menus1">
                  <h3>평소에 유튜브를 이용하면서 한국 영상임에도 불구하고 한국어가 아닌 댓글이 달릴 때도 있다<br>
                  때로는 어떤 나라일지 궁금하기도해 어떤 언어가 댓글을 달았는 지 분석해보는 프로젝트를 진행하게 되었다.</h3>
              </ul>

          <input id="menu2" type="checkbox" />
          <label for="menu2" class="t2"><h2>분석하고 싶은 영상 URL ↓</h2></label>
              <ul class="menus2">
                  <h3>분석해보고 싶은 영상의 주소를 입력해보세요.</h3>
                  <div><input id="input" placeholder="URL입력" />
                      <button id="add-button">입력</button>
                  </div>
              </ul>

          <input id="menu3" type="checkbox" />
          <label for="menu3" class="t3"><h2>분석 결과 ↓</h2></label>
              <ul class="menus3">
                  <img src="https://cdn.pixabay.com/photo/2013/07/12/14/18/productivity-148197_1280.png" width="300" height="200">
              </ul>

          <input id="menu4" type="checkbox" />
          <label for="menu4" class="t4"><h2>프로젝트 구현 방법 설명 ↓</h2></label>
              <ul class="menus4">
                  <ol>
                      <li>기능 A : 기능 A를 구현하기 위해 ~~를 사용하였다.</li>
                      <li>기능 B : 기능 A를 구현하기 위해 ~~를 사용하였다..</li>
                      <li>기능 C : 기능 A를 구현하기 위해 ~~를 사용하였다.</li>
                  </ol>
              </ul>

          <input id="menu5" type="checkbox" />
          <label for="menu5" class="t5"><h2>프로젝트에서 잘 구현된 점 ↓</h2></label>
              <ul class="menus5">
                  <ul>
                      <li>A한 부분이 잘 구현되었다.</li>
                      <li>B한 부분이 잘 구현되었다.</li>
                  </ul>
              </ul>

          <input id="menu6" type="checkbox" />
          <label for="menu6" class="t6"><h2>프로젝트에 대해 보완하고 싶은 점 ↓</h2></label>
              <ul class="menus6">
                  <h3>기능 C가 조금 아쉬워 다음에 비슷한 기능을 구현하게 되다면 이 부분은 꼭 보완하고 싶다.</h3>
              </ul>

          <input id="menu7" type="checkbox" />
          <label for="menu7" class="t7"><h2>FEEDBACK ↓</h2></label>
                  <ul class="menus7">
                      <h3>자유롭게 피드백 해주세요.</h3>
                      <textarea name="comments" rows="10" cols="50"></textarea><br>
                      <input type="button" name="submit" value="submit">
                  </ul>-->
  </body>
</html>
